/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #1D1D1D;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: rgba(29,29,29,0.49);
	font-family: 'Anton', sans-serif;
	
}

.footer-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.titles-carousel {
	font-family: 'Anton', sans-serif;
	text-align: left;
	font-size: 400%;
	color: #FFFFFF;
}

.align-left {
	text-align: left;
}

.heading2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	color: #ffffff;
}

.heading3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #ffffff;
}

.heading4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
	text-align: left;
}

.heading5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #ffffff;
}

.heading6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

.icon-caroursel {
	filter:invert(100%) sepia(20%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.card {
	background-color:rgba(255,255,255,0.00);
}

.card-img-top {
	width: 50%;
	align-self: center;
}

.card-image-top-product-page {
	width: 100%;
}

.btn-stain-points {
	background: #1d1d1d;
	color:#e55101;
	font-family: 'Montserrat', sans-serif;
	font-size: 600;
	border-color: #e55101;
	
}

.card {
	border:none;
}


/* Effect on social media buttons */

.btn-send {
	background: #e50132;
	border:none;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 600;
}

.img-collab {
	width: 30%;
}

.btn-contactnow {
	background: #e5019b;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 600;
}

.hastag {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #d001e5; 
}

.accent-1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #e5019b;
}

.accent-2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #e55101;
}

.accent-3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #e50132;
}

.accent-4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #d001e5;
}

footer a:hover {
	opacity: .50;
}

@media (max-width: 1500px){
}
